body {
    background-image: linear-gradient(135deg, #b2e0ffce 10%, #b004e5 100%) ;
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    font-family: 'open sans' sans-serif ;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: right;
    padding: 4px;
    align-items: center;
}

.box { 
    cursor: pointer;
    margin-right: auto;
}
.cox li {
    display: inline-block;
    padding: 10px;
    margin-right: auto;
    padding-left: 5px; 
}

header h1 {
    font-size: 30px;
    font-weight: 700;
}

a { 
 transition: all 0.3secs ease;
 text-decoration: none;
 font-family: 'open sans' sans-serif;
 font-size: 20px;
 font-weight:900;
 align-content: flex-start;
 }

a:hover {
    color: rgba(255, 47, 227, 0.987);
 }

button {
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(245, 179, 179);
 }

 button:hover {
    background-color: rgba(128, 128, 128, 0.872);
    opacity: .6;
 }

 .boxform {
    background-color: #ffffff;
    width: 85%;
    overflow: hidden;
    border-radius: 80px;
    margin: 0 auto;
    display: flex;
    flex: 1 1 100%;  
    align-items: cover;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #6f090cf4;
}

.boxform div{
    height: auto;
    }

    .boxform .left {
        color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("pexels-pixabay-39284.jpg");
        overflow: hidden;
    }

    .boxform .left .overlay {
        padding: 30px;
        width: 100%;
        height: 100%;
        opacity: .8;
        background: #c5b2ff;
        overflow: hidden;
        box-sizing: border-box;
    }

    .boxform .left .overlay h1 {
        font-size: 7vmax;
        line-height: 1;
        font-weight: 900;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .boxform .left .overlay span p {
        margin-top: 30px;
        font-weight: 900;
    }
   
    .boxform .left .overlay span a {
        background: #983b3b;
        color: black;
        margin-top: 10px;
        padding: 14px 50px;
        border-radius: 100px;
        display: inline-block;
        box-shadow: 0px 3px 6px 1px #40460457;
    }

    .boxform .left .overlay span a:last-child {
        background: #ffb2fa
        margin-left: ;
    }

    .boxform .right {
        padding: 40px;
        background-image: url("./TECHPRENEUR\ \ logo_054603.png \ logo_054603.png");
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .boxform .right h5 {
        font-size: 6vmax;
        line-height: 0;
    }

    .boxform .right p {
        font-size: 14px;
        color: #b0b2b9;
    }

    .boxform .right inputs {
        overflow: hidden;
    }

    .boxform .right input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-top: 25px;
        border: none;
        border-bottom: 2px solid #b0b4b9;
        outline: none;
    }

    .boxform .right .Remember-me--Forget-password {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boxform .right .Remember-me--Forget-password input {
        margin: 0;
        margin-right: 7px;
        width: auto;
    }

    button {
        float: right;
        font-size: 16px;
        border: none;
        outline: none;
        background-image: linear-gradient(135deg, #f58470 10%,#c628a4 100%);
        color: #ffffff;
        border-radius: 40px;
        box-shadow: 0px 4px 20px 0px black;
        display: inline-block;
    }

    label {
        display: inline-flex;
        margin-left: -10px;
        position: relative;
    }

    .fox{
        padding-right: 10px;
        margin-right: 10px;
    }

    a:nth-child(3) {
        margin-left: 20px;
    }

    